html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.scroll-container {
  scroll-snap-type: y mandatory;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.scroll-container {
  scroll-behavior: smooth;
}

.image-popup {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 9999;
}

.image-popup.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.image-popup img {
  max-width: 500px;
  max-height: 500px;
  display: block;
  position: relative;
  z-index: 10;
}

.bg-pan-top {
  background-image: linear-gradient(45deg, #007bff, #6610f2);
  background-size: 200% 200%;
  height: 100%;
  width: 100%;
  -webkit-animation: bg-pan-top 8s infinite alternate-reverse both;
  animation: bg-pan-top 8s infinite alternate-reverse both;
}

@-webkit-keyframes color-change-5x {
  0% {
    background: #1b263b;
  }
  25% {
    background: #2c2c2c;
  }
  50% {
    background: #354a40;
  }
  75% {
    background: #4f4e4e;
  }
  100% {
    background: #3a4f52;
  }
}
@keyframes color-change-5x {
  0% {
    background: #1b263b;
  }
  25% {
    background: #2c2c2c;
  }
  50% {
    background: #354a40;
  }
  75% {
    background: #4f4e4e;
  }
  100% {
    background: #3a4f52;
  }
}

#typed-text {
  font-size: 1.5rem;
  font-family: Nunito;
}

.word {
  color: #ffd966;
  font-weight: bold;
}

.slogan {
  color: #e9ecef;
  font-style: italic;
}

#cursor {
  opacity: 0;
  font-weight: bold;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1;
  transform: scaleX(5);
  display: inline-block;
  transition: opacity 3s ease 3s;
  animation: none;
}

#degree {
  font-size: 1.2rem;
  color: #e9ecef;
  font-family: Nunito;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

h1 {
  opacity: 0;
  transition: opacity 1s ease 1s;
}
header {
  position: relative;
}
header .social-icon {
  opacity: 0;
  position: absolute;
  bottom: 210px;
  right: 50px;
  display: flex;
  gap: 15px;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

header .social-icon ul {
  position: relative;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
}
header .social-icon ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 20px;
}
header .social-icon ul li:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}
header .social-icon ul li:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}
header .social-icon ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
header .social-icon ul li:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}
header .social-icon ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
header .social-icon ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
header .social-icon ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
header .social-icon ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
header .social-icon ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}
header .social-icon ul li:nth-child(1):hover span {
  background: #52e19f !important;
}
header .social-icon ul li:nth-child(2):hover span {
  background: #2c3456 !important;
}
header .social-icon ul li:nth-child(3):hover span {
  background: #ea6e96 !important;
}
header .social-icon ul li:nth-child(4):hover span {
  background: #fceb00 !important;
}
header .social-icon ul li:nth-child(5):hover span {
  background: #1fe908 !important;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.color-change-5x {
  -webkit-animation: color-change-5x 15s linear infinite alternate both;
  animation: color-change-5x 15s linear infinite alternate both;
}

header {
  background-image: linear-gradient(45deg, #b0c7e3, #d3c6e8);
  background-size: 200% 200%;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  padding: 50px 20px;
  box-sizing: border-box;
  margin: 0;
}
header h1 {
  font-size: 100px;
  margin: 0;
}

header .btn {
  opacity: 0;
  display: inline-block;
  padding: 20px 20px;
  background: white;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: opacity 0.5s ease-in-out, background 0.3s, color 0.3s;
}

header .btn:hover {
  background: #007bff;
  color: white;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header span.first-name {
  color: #ff0000;
  letter-spacing: 5px;
}

header span.last-name {
  color: #ffffff;
  letter-spacing: 5px;
}
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #333;
  padding: 10px 0;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #333;
  padding: 10px 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007bff;
}

main {
  width: 100%;
}

h2 {
  color: #007bff;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.card {
  border: 1px solid #ddd;

  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.education-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.education-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #4caf50;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.education-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: rgba(240, 240, 240, 1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.education-card img {
  width: 110px;
  height: 134px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.education-card img:hover {
  width: 110px;
  height: 134px;
  border-radius: 0%;
}

.education-details {
  flex: 1;
}

.education-details h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.education-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.education-details p strong {
  color: #4caf50;
}

@media (max-width: 768px) {
  .education-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .education-card img {
    margin-bottom: 15px;
  }
}
section.page .experience h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
}
#experience {
  position: relative;
}
#experience .timeline-title {
  position: absolute;
  left: 40px;
  font-size: 35px;
}
section.page .experience p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

section.page .experience ul {
  list-style: none;
  padding-left: 0;
}
.experience-container {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.experience-container .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.experience-container .card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #ccc7c7;
}
section.page .experience {
  transition: all 0.3s ease-in-out;
}

section.page .experience:hover {
  background-color: #aca1a1;
  color: #e2e8f1;
  border-color: #463f3f;
}

section.page .experience ul li {
  margin-bottom: 8px;
  font-size: 1rem;
}
.card-header a {
  text-decoration: none;
  color: inherit;
}

.card-header a:hover {
  color: #007bff;
}
.card-header {
  background: #f5f5f5;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  transition: 0.3s ease;
}

.card-header:hover {
  background: #e9ecef;
  font-size: 1em;
  transition: 0.3s ease;
}

.card-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background-color: #ccc;
  transition: max-height 0.5s ease, padding 0.3s ease;
}
.card:hover .card-body {
  max-height: 500px;
  padding: 15px;
  transition: max-height 0.5s ease, padding 0.3s ease;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.hidden_right {
  opacity: 0;
  /*transform: translateX(50px);*/
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hidden_left {
  opacity: 0;
  /*transform: translateX(-50px);*/
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}
.objective-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.objective-content {
  flex: 1 1 60%;
  min-width: 300px;
}

.objective-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #4caf50;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.objective-content p {
  line-height: 1.6;
  font-size: 20px;
  color: #dddddd;
}

.objective-stats {
  flex: 1 1 35%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.objective-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.objective-stats li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.objective-stats li strong {
  color: #4caf50;
}

.objective-stats .counter {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffd700;
}

@media (max-width: 768px) {
  .objective-container {
    flex-direction: column;
  }
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 20px 0;
  width: 60%;
  max-width: 100%;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.timeline ul {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.timeline ul li {
  margin: 20px 0;
  padding-left: 40px;
  position: relative;
}

.timeline ul li::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 10px;
  height: 10px;
  background: #ff6b6b;
  border-radius: 50%;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 24px;
  top: 10px;
  bottom: 0;
  width: 2px;
  background: #ccc;
}

.timeline ul li:last-child::after {
  display: none;
}

.timeline .content {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease, box-shadow 0.3s ease;
}

.timeline .content:hover {
  transform: translateX(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #b5b8bb;
  color: #2a2a2a;
}

.timeline h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #ff6b6b;
}

.timeline h2 time {
  font-size: 1rem;
  color: #555;
}

.timeline p {
  margin: 10px 0 0;
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}
@media (max-width: 600px) {
  .timeline ul li {
    padding-left: 20px;
  }

  .timeline ul li::before {
    left: 10px;
  }

  .timeline ul li::after {
    left: 14px;
  }
}
.learn-more-btn {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  outline: none;
}

.learn-more-btn:focus {
  outline: none;
  box-shadow: 0 0 5px 3px rgba(38, 143, 255, 0.5);
}

.learn-more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  transform: skewX(-30deg);
  z-index: 0;
}

.learn-more-btn:hover::before {
  left: 100%;
}

.learn-more-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.learn-more-btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact {
  background-color: #f7f7f7;
  padding: 60px 0;
  text-align: center;
  color: #333;
  position: relative;
  border-top: 5px solid #ff6f61;
}

#contact h2 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info p {
  font-size: 1.1rem;
  margin: 15px 0;
  padding: 12px 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-info p i {
  font-size: 1.4rem;
  color: #ff6f61;
  margin-right: 15px;
}

.contact-info p:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.contact-info p i:hover {
  color: #ff9f80;
}

#contact::before {
  content: "";
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
}

/* Định dạng cơ bản cho nút */
header .btn.download-btn {
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header .btn.download-btn:hover {
  background-color: #007bff;
  color: #ffffff;
}

header .btn.download-btn:active {
  transform: scale(0.95); /* Nhấn vào nút sẽ thu nhỏ */
  animation: downloadClick 0.3s ease; /* Animation khi nhấn */
}

/* Hiển thị icon khi hover */
header .btn.download-btn .download-icon {
  margin-right: 10px;
  opacity: 0; /* Ẩn icon ban đầu */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

header .btn.download-btn .download-icon {
  opacity: 0; /* Hiển thị icon khi hover */
  transform: translateY(-10px); /* Hiệu ứng di chuyển icon */
}
header .btn.download-btn:hover .download-icon {
  opacity: 1; /* Hiển thị icon khi hover */
  transform: translateY(0px); /* Hiệu ứng di chuyển icon */
}

/* Animation khi nhấn */
@keyframes downloadClick {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.95);
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.contact-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: Nunito;
  overflow: hidden;
}

.contact-form {
  flex: 1;
  min-width: 750px;
  padding: 30px;
  background: #e0e4ec;
  border-right: 1px solid #e9ecef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 45px;
}

.input-data {
  margin-bottom: 25px;
  position: relative;
}

.input-data input,
.input-data textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: none;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-data input:focus,
.input-data textarea:focus {
  border-color: #007bff;
}

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #007bff;
  transition: width 0.3s;
}

.input-data input:focus ~ .underline,
.input-data textarea:focus ~ .underline {
  width: 100%;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 14px;
  pointer-events: none;
  transition: all 0.3s;
}

input:focus + .underline + label,
input:not(:placeholder-shown) + .underline + label,
textarea:focus + .underline + label,
textarea:not(:placeholder-shown) + .underline + label {
  top: -10px;
  font-size: 15px;
  color: #007bff;
}

.submit-btn .send-btn {
  width: 50%;
  background-color: #1c1f25;
  color: #fff;
  padding: 10px;
  background: linear-gradient(
    to right,
    #000000 0%,
    #000000 50%,
    #04ff00 50%,
    #04ff00 100%
  );
  background-size: 200% 100%;
  transition: background-position 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.submit-btn .send-btn:hover {
  background-color: #04ff00;
  color: #ffffff;
  padding: 10px;
  background-position: -30% 0;
}

.submit-btn .send-btn:active {
  background-color: #04ff00;
  color: #000000;
  padding: 10px;
  background-position: -100% 0;
}

.submit-btn .send-btn .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background-color: #45a049;
  transition: all 0.4s ease;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
}

.submit-btn .send-btn:hover .inner {
  transform: scale(1);
}

.submit-btn .send-btn {
  position: relative;
  overflow: hidden;
}

.submit-btn .send-btn .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-info {
  flex: 1;
  min-width: 300px;
  padding: 30px;
  background: #007bff;
  color: #fff;
}

.contact-info h2 {
  color: #fff;
}

.info p {
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #354a40;
}

.info p i {
  margin-right: 10px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-form {
    border-right: none;
    border-bottom: 1px solid #e9ecef;
  }
}

#statusDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #fff;
  padding: 30px 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  z-index: 1000;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease, transform 2s ease;
}

#statusDialog.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#statusDialog.hide {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}

#statusDialog .dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#statusDialog span {
  font-size: 64px;
  margin-bottom: 15px;
  animation: bounce 0.5s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hidden {
  display: none;
}
